@media only screen and (max-width: 1440px){
    .downloadApp{
        &__button{
            font-size: 24px;
            line-height: 30px;
            span{
                font-size: 18px;
                line-height: 20px;  
            }
        }
    }
    .main-content{
        &--leftColumn{
            width: 25%;
        }
        &--rightColumn{
            width: 75%;
        }
    }
    .footer{
        &__paymentMethods{
            ul{
                display: block;
                li{
                    display: inline-block;
                    a{
                        margin-bottom: 10px;
                        padding: 0 10px 0 0;
                    }
                }
            }
        }
    }
    .kenoNextGame{
        margin: 50px 0;
    }
    .jackpot{
        &--priceBig{
            font-size: 27px;
        }
        &--badgeBig{
            margin-right: 10px;
            font-size: 14px;
            padding: 6px 14px;
        }
        &--textBig{
            p{
                margin-right: 10px;
            }
        }
        &--timeBig{
            font-size: 14px;
            padding: 8px 10px;
            padding: 6px 10px;
        }
    }
    .numbers{
        &__text{
            font-size: 16px;
        }
        &__icon{
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
    }
    .numbersList{
        padding: 20px 20px 0px 20px;
    }
    .nextGame{
        &__text{
            font-size: 18px;
        }
        &__time{
            font-size: 18px;
        }
    }
}


@media only screen and (max-width: 1366px){

    .kenoNextGame{
        &__badge{
            font-size: 15px;
        }
    }
    .sidebar{
        &__myAccount-button{
            font-size: 20px;
        }
    }
    
    .footer{
        &__column{
            padding: 0 15px;
        }
        &__inner{
            padding: 0 30px;
        }
        &__bottom{
            padding: 0 30px;
        }
        &__paymentMethod{
            ul{
                li{
                    a{
                        padding: 0 7px;
                    }
                }
            }
        }
    }
    .divisions{
        &__diviPriceBig{
            font-size: 15px !important;
            line-height: 15px !important;
        }
        &--headingBig{
            margin-bottom: 15px !important;
        }
    }
    .nextDraw{
        h2{
            font-size: 18px;
        }
        h5{
            font-size: 10px;
        }
        &__text{
            padding: 15px 0 0 15px;
        }
        &__img{
            img{
                margin-left: -25px;
            }
        }
    }
    .numbers{
        &__text{
            font-size: 14px;
        }
        &__icon{
            width: 35px;
            height: 35px;
            line-height: 35px;
        }
    }
    .playGameButtons{
        text-align: center;
        .col-md-8{
            width: 100%;
        }
        .offset-md-4{
            margin-left: 0;
        }
    }
    .heads{
        h3, h4{
            font-size: 24px;
        }
    }
    .numbersList{
        &__header{
            h3, h4{
                font-size: 18px;
            }
        }
    }
}


@media only screen and (max-width: 1199px){
    .signinSection{
        &__terms{
            margin: 50px 20px 0 20px;
        }
        &__googleLogin{
            min-width: 230px;
            min-height: 90px;
        }
        &__facebookLogin{
            min-width: 230px;
            min-height: 90px;
        }
    }
    .downloadApp{
        &__button{
            font-size: 18px;
            line-height: 24px;
            span{
                font-size: 15px;
                line-height: 17px;
            }
        }
    }
    .divisions{
        &__inner{
            padding: 10px;
        }
        &--innerBig{
            padding: 10px;
        }
        &--marginBottom{
            margin-bottom: 50px;
        }
    }
    .main-content{
        &__rightInner{
            padding: 30px;
        }
        &__heading{
            h2{
                font-size: 20px;
            }
        }
        &__kenoPlay{
            padding: 0 30px 7px 30px;
        }
        &__kenoDraw{
            padding: 20px 20px 30px 20px;
            .col-md-3, .col-md-6{
                width: 100%;
            }
        }
    }
    .jackpot{
        &__price{
            font-size: 18px;
        }
    }
    .numbers{
        display: block;
        a{
            display: inline-block;
        }
        &__text{
            margin-bottom: 10px;
            font-size: 16px;
        }
        &__icon{
            margin-right: 10px;
            margin-left: 0;
        }
    }
    .numbersList{
        ul{
            li{
                a{
                    margin-right: 15px;
                }
            }
        }
    }
    .header-top{
        &__navigation{
            ul{
                padding-left: 2rem;
            }
        }
    }
}

@media (min-width: 768px)
{
.main-content{
    &__offset{
        margin-left: 3.333333%;
    }
}

}


@media only screen and (max-width: 991px){
    .header-top{
        text-align: center;
        margin-top: 8px;
        &__inner{
            display: block;
        }
        &__navigation{
            ul{
                padding-left: 0;
            }
        }
        &--btnDropdown{
            margin: 0 0 0 10px;
        }
    }
    .signinSection{
        padding-top: 0;
        .col-md-5, .col-md-2{
            width: 100%;
        }
        &__or{
            width: 65px;
            height: 65px;
            line-height: 72px;
            font-size: 24px;
            margin: 10px 0 30px 0;
        }
        &--signupForm{
            margin-left: 0;
        }
        &__googleLogin{
            min-height: 80px;
            min-width: auto;
            width: 100%;
        }
        &__facebookLogin{
            min-height: 80px;
            min-width: auto;
            width: 100%;
        }
        &__terms{
            margin: 35px 0 0 0;
        }
    }
    .nextDraw{
        h5{
            font-size: 12px;
        }
        &__badge{
            font-size: 12px;
        }
        .col-md-7, .col-md-5{
            width: 100%;
        }
        &__btn-yellow{
            padding: 6px 12px;
            width: 100%;
            font-size: 15px;
        }
        &__text{
            text-align: center;
            padding: 15px;
        }
        &__img{
            text-align: center;
            img{
                margin: 0;
            }
        }
    }
    .jackpot{
        img{
            width: 60%;
        }
        padding: 15px;
        .col-md-3, .col-md-9{
            width: 100%;
        }
        &__text{
            display: block;
            text-align: center;
            margin-top: 15px;
        }
        &__price{
            text-align: center;
            font-size: 18px;
        }
    }
    .kenoNextGame{
        &__winningDetails{
            font-size: 30px;
            line-height: 35px;
            span{
                font-size: 16px;
                line-height: 20px;
            }
        }
        &__winningMessage{
            text-align: center;
        }
    }
    
    .jackpotsGuaranteed{
        &__inner{
            padding: 10px;
            h2{
                line-height: 35px;
            }
        }
    }
    .divisions{
        display: block;
        margin: 0;
        &__inner{
            width: 100%;
            margin: 0 0 15px 0;
            text-align: center;
            h6{
                font-size: 14px;
            }
            p{
                font-size: 14px;
            }
        }
        &--headingBig{
            font-size: 14px !important;
        }
    }
    .downloadApp{
        padding: 15px;
        .col-md-3, .col-md-5, .col-md-4{
            width: 100%;
        }
        &__button{
            font-size: 24px;
            line-height: 32px;
            span{
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
    .availableGames{
        .col-md-8, .col-md-4{
            width: 100%;
        }
        h3{
            font-size: 30px;
        }
        p{
            font-size: 18px;
        }
        &__note{
            padding: 20px;
            p{
                font-size: 20px;
            }
        }
        &__downloadButton{
            margin-top: 50px;
        }
    }
    .footer{
        &__bottom{
            padding: 0 10px;
            .col-md-4, .col-md-3, .col-md-2, .col-md-3{
                width: 50%;
            } 
        }
        &__social{
            ul{
                li{
                    a{
                        padding: 0 7px;
                    }
                }
            }
        }
        &__inner{
            padding: 0 15px;
        }
        &__paymentMethods{
            margin-top: 40px;
            text-align: left;
        }
        &__social{
            margin-top: 40px; 
            text-align: left;
            ul{
                justify-content: flex-start;
                li{
                    a{
                        padding: 0 12px 0 0;
                    }
                }
            }
        }
        &__appDownload{
            margin-top: 40px; 
            text-align: left;
            ul{
                justify-content: flex-start;
            }
        }
        &__languagePreference{
            margin-top: 40px;
            text-align: left;
        }
    }
    .numbers{
        display: flex;
        &__icon{
            margin-right: 5px;
            width: 32px;
            height: 32px;
            line-height: 32px;
        }
        &__text{
            margin-bottom: 0;
        }
    }
    .main-content{
        &__kenoPlay{
            .col-md-4{
                width: 100%;
            }
        }
    }
    .gameMatches{
        ul{
            display: block;
            text-align: center;
            li{
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
    .playGameButtons{
        &__button{
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 767px){
    .main-content{
        &--leftColumn{
            width: 100%;
        }
        &--rightColumn{
            width: 100%;
        }
        &--columnSix{
            width: 100%;
        }
    }
    .pr-0{
        padding-right: calc(var(--bs-gutter-x) * .5);
    }
    .ageLimit{
        margin-top: 35px;
    }
    .footer{
        h6{
            text-align: left;
        }
        &__languagePreference{
            margin-top: 35px;
            text-align: left;
        }
        &__appDownload{
            margin-top: 35px;
            ul{
                justify-content: flex-start;
            }
        }
        &__paymentMethods{
            margin-top: 35px;
            text-align: left;
        }
        &__social{
            margin-top: 35px;
            ul{
                justify-content: flex-start;
            }
        }
        &__inner{
            display: block;
        }
        &__column{
            width: 100%;
            margin-bottom: 35px;
            h5{
                margin-bottom: 20px;
            }
        }
        &__bottom{
            .col-md-4, .col-md-3, .col-md-2, .col-md-3{
                width: 100%;
            }
        }
    }
    .signinSection{
        &__terms{
            margin: 50px 0 0 0;
        }
    }  
    .sidebar{
        &__myAccount-button{
            padding: 8px 20px;
        }
    }
      
}


@media only screen and (max-width: 575px){
    .header-top{
        &__navigation{
            display: block;
            ul{
                margin: 15px 0;
            }
        }
        &__right{
            display: block;
        }
        &__button{
            width: 100%;
            margin: 0 0 10px 0;
        }
        &--dropdownMenu{
            margin: 0 auto !important;
            left: 0 !important;
            right: 0 !important;
            top: -7px !important;
            width: 50%;
        }
    }
    .main-content{
        &__rightInner{
            padding: 15px;
        }
        &__kenoPlay{
            padding: 0 10px 7px 10px;
        }
        &__kenoDraw{
            padding: 0 10px 20px 10px;
        }
    }
    .playGameButtons{
        &__button{
            min-width: auto;
            width: 100%;
        }
    }
    .numbersList{
        padding: 15px 15px 0 15px;
    }
    .pickNumber{
        p{
            padding: 20px 10px;
        }
    }
    .logo{
        img{
            max-width: 100%;
        }
    }
    .heads{
        padding: 15px;
    }
}

@media only screen and (max-width: 480px){
    .signinSection{
        &__loginButton{
            min-width: auto;
            width: 100%;
        }
        p{
            font-size: 16px;
        }
        a{
            font-size: 16px;
        }
    }
    .modal-body{
        padding: 0 1.3rem;
    }
    .modal-header{
        top: 0;
        left: 0;
    }
    .btn-close{
        background-size: 100%;
    }
    .termsSection{
        margin-top: 70px;
        h2{
            font-size: 35px;
        }
        p{
            font-size: 16px;
        }
    }
    .paymentOptions{
        margin: 70px 0 20px 0;
        h2{
            font-size: 35px;
        }
        &__description{
            h3{
                font-size: 27px;
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}