/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: HKGrotesk-Light;
  src: url(../fonts/HKGrotesk-Light.woff2) format("woff2"), url(../fonts/HKGrotesk-Light.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HKGrotesk-Regular;
  src: url(../fonts/HKGrotesk-Regular.woff2) format("woff2"), url(../fonts/HKGrotesk-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HKGrotesk-Medium;
  src: url(../fonts/HKGrotesk-Medium.woff2) format("woff2"), url(../fonts/HKGrotesk-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HKGrotesk-SemiBold;
  src: url(../fonts/HKGrotesk-SemiBold.woff2) format("woff2"), url(../fonts/HKGrotesk-SemiBold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HKGrotesk-Bold;
  src: url(../fonts/HKGrotesk-Bold.woff2) format("woff2"), url(../fonts/HKGrotesk-Bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VisueltProMedium;
  src: url(../fonts/VisueltProMedium.woff2) format("woff2"), url(../fonts/VisueltProMedium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  color: #1A0F54;
  font-family: HKGrotesk-Regular;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}

.pr-0 {
  padding-right: 0;
}

/* Variable */
/* Top Header */
.header-top {
  padding: 6px 0;
}

.header-top__inner {
  display: flex;
}

.header-top__navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-top__navigation ul {
  margin-right: auto;
  list-style: none;
  margin-bottom: 0;
  padding-left: 150px;
}

.header-top__navigation ul li a {
  color: #1A0F54;
  font-size: 24px;
  font-family: HKGrotesk-SemiBold;
}

.header-top--dropdownMenu {
  margin-right: initial !important;
  padding-left: 0 !important;
  background-color: #DDE5FF;
  border-color: #DDE5FF;
  padding: 0 !important;
  min-width: 7rem !important;
  margin-top: -7px !important;
  margin-left: 27px !important;
}

.header-top--dropdownMenu li a {
  font-size: 15px !important;
  font-family: HKGrotesk-Medium !important;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 6px !important;
}

.header-top--dropdownMenu li a:hover {
  background-color: transparent;
}

.header-top__right {
  display: flex;
}

.header-top__button {
  background-color: #DDE5FF;
  border-radius: 11px;
  font-size: 18px;
  color: #1A0D49;
  padding: 10px 34px;
  border: 4px solid #DDE5FF;
  font-family: HKGrotesk-SemiBold;
  margin-left: 10px;
}

.header-top__button:hover {
  background-color: #5A34EA;
  border-color: #5A34EA;
  color: #fff;
}

.header-top--outline {
  background-color: transparent;
}

.header-top--outline:hover {
  background-color: #DDE5FF;
  border-color: #DDE5FF;
  color: #1A0D49;
}

.header-top--user {
  cursor: auto;
}

.header-top--user:hover {
  background-color: #DDE5FF;
  border-color: #DDE5FF;
  color: #1A0D49;
}

.header-top--btnDropdown {
  border: 1px solid #DDE5FF;
  background-color: transparent;
  padding: 6px 8px;
  border-radius: 6px;
  margin: 0 20px;
}

.header-top--btnDropdown:hover {
  background-color: transparent;
  border-color: #DDE5FF;
  color: #1A0D49;
}

.header-top--btnDropdown::after {
  content: none;
}

.header-top--btnDropdown img {
  margin: 0 10px;
}

/* Sidebar */
.sidebar {
  background-color: #F6F8FF;
  padding: 40px 10px;
  border-radius: 60px 60px 0 0;
  margin-top: 15px;
}

.sidebar__myAccount-button {
  background-color: #F6C358;
  color: #1A0F54;
  font-size: 25px;
  font-family: HKGrotesk-Medium;
  border-radius: 12px;
  border: 6px solid #FCDB95;
  padding: 4px 20px;
  width: 100%;
  color: #000;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.sidebar__myAccount-button:hover {
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

/* Next Draw */
.nextDraw {
  background-color: #5A34EA;
  border-radius: 12px;
  margin-bottom: 25px;
}

.nextDraw h2 {
  color: #fff;
  font-size: 27px;
  font-family: HKGrotesk-SemiBold;
  margin-bottom: 5px;
}

.nextDraw h5 {
  color: #F9FBFF;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0.60;
}

.nextDraw__text {
  padding: 15px;
}

.nextDraw__img img {
  margin-top: -5px;
  height: 178px;
}

.nextDraw__badge {
  background-color: rgba(246, 195, 88, 0.1);
  padding: 5px 10px;
  color: #F6C358;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 15px;
  font-family: HKGrotesk-SemiBold;
}

.nextDraw__btn-yellow {
  background-color: #F6C358;
  color: #1A0D49;
  font-size: 12px;
  font-family: HKGrotesk-Bold;
  padding: 6px 24px;
  border-radius: 8px;
}

.nextDraw__btn-yellow:hover {
  background-color: #EA1D5A;
  color: #fff;
}

/* Jackpot */
.jackpot {
  background-color: #5A34EA;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  background-image: url("../images/jackpot-bg.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 16px 0 rgba(53, 110, 158, 0.2);
}

.jackpot--big {
  padding-top: 20px;
  margin-bottom: 18px;
}

.jackpot__text {
  display: flex;
  align-items: center;
}

.jackpot__text p {
  font-size: 10px;
  text-transform: uppercase;
  font-family: HKGrotesk-Medium;
  color: #F6F8FF;
  opacity: 0.5;
  margin-right: 8px;
  margin-bottom: 12px;
}

.jackpot--textYellow p {
  color: #1A0F54;
  opacity: 0.5;
}

.jackpot--textBig p {
  font-size: 13px;
  margin-right: 15px;
}

.jackpot__badge {
  background-color: #F6C358;
  padding: 4px 8px;
  color: #1A0F54;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 12px;
  font-family: HKGrotesk-Bold;
  margin-right: 8px;
}

.jackpot--badgeBig {
  font-size: 17px;
  padding: 8px 20px;
  margin-right: 15px;
}

.jackpot__time {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 15px;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 12px;
  font-family: HKGrotesk-SemiBold;
}

.jackpot--timeBig {
  font-size: 18px;
  padding: 8px 25px;
}

.jackpot--timePink {
  background-color: rgba(255, 255, 255, 0.17);
}

.jackpot--timeYellow {
  background-color: rgba(106, 72, 239, 0.1);
  color: #1A0F54;
}

.jackpot__price {
  font-size: 24px;
  font-family: HKGrotesk-SemiBold;
  color: #FFF;
}

.jackpot--priceBig {
  font-size: 44px;
  margin-top: 10px;
}

.jackpot--priceBlack {
  color: #1A0F54;
}

.jackpot--matches {
  background-color: #EA1D5A;
  background-image: url("../images/jackpot-bg-pink.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jackpot--kenoBg {
  background-image: url("../images/keno-bg.png");
  background-repeat: no-repeat;
}

.jackpot--magicBg {
  background-image: url("../images/magic-millions-lottery-bg.png");
  background-repeat: no-repeat;
}

.jackpot--soon {
  background: linear-gradient(-120deg, #FFDC3A, #FFB800);
  background-image: url("../images/jackpot-bg-yellow.png");
  background-image: url("../images/jackpot-bg-yellow.png"), linear-gradient(-120deg, #FFDC3A, #FFB800);
  background-repeat: no-repeat;
}

/* Divisions */
.divisions {
  display: flex;
  margin: 0 -5px 30px -5px;
}

.divisions__inner {
  background-color: #fff;
  border-radius: 12px;
  padding: 8px 12px;
  width: 33.3%;
  margin: 0 5px;
}

.divisions__inner h6 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: HKGrotesk-Bold;
}

.divisions__inner p {
  color: #1A0D49;
  font-size: 12px;
  font-family: HKGrotesk-Medium;
  margin: 0;
}

.divisions--innerBig {
  padding: 25px 15px 20px 15px;
}

.divisions__heading-orange {
  color: #F47217;
}

.divisions__heading-blue {
  color: #3DABFF;
}

.divisions__heading-purple {
  color: #D63DFF;
}

.divisions--headingBig {
  font-size: 13px !important;
  margin-bottom: 20px !important;
}

.divisions__diviPriceBig {
  font-size: 22px !important;
  line-height: 22px !important;
}

.divisions--matches {
  background-color: #EA1D5A;
}

.divisions--soon {
  background-color: #FFB800;
}

.divisions--marginBottom {
  margin-bottom: 90px;
}

/* Main Content */
.main-content__rightInner {
  padding: 40px 65px 28px 65px;
  background-color: #F3F2FE;
}

.main-content__heading {
  margin-top: 20px;
}

.main-content__heading h2 {
  color: #928EA1;
  font-size: 27px;
  font-family: HKGrotesk-SemiBold;
  text-transform: uppercase;
}

.main-content--leftColumn {
  width: 21.5%;
}

.main-content--rightColumn {
  width: 78.5%;
}

.main-content--columnSix {
  width: 55%;
}

.main-content__kenoPlay {
  padding: 0 65px 7px 65px;
}

.main-content__kenoDraw {
  padding: 20px 20px 80px 20px;
}

.main-content__gameResultsPadding {
  padding: 0 160px;
}

.main-content__lotteryPlay {
  padding: 0 20px 7px 20px;
}

/* Nav Tabs */
.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-top: 1px solid #F3F2FE;
  border-bottom: 0;
}

.nav-tabs__item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-tabs__link {
  display: block;
  padding: .5rem 1rem;
  color: #928EA1;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  background: 0 0;
  border: 0;
  font-size: 18px;
  font-family: HKGrotesk-Medium;
  width: 100%;
}

.nav-tabs__link:hover {
  color: #1A0F54;
}

.nav-tabs .active {
  color: #000000;
  font-family: HKGrotesk-Bold;
  border-bottom: 2px solid #623DEF;
}

.downloadApp {
  background: url("../images/download-bg.jpg") no-repeat center center #5A34EA;
  background-size: cover;
  border-radius: 12px;
  padding: 8px 10px 8px 30px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.downloadApp__button {
  background-color: rgba(98, 54, 255, 0.17);
  color: #fff;
  font-size: 38px;
  font-family: HKGrotesk-Bold;
  border-radius: 12px;
  padding: 6px 20px;
  text-transform: uppercase;
  line-height: 38px;
  margin: 30px 0;
}

.downloadApp__button span {
  font-size: 28px;
  line-height: 28px;
  display: block;
  font-family: HKGrotesk-Medium;
}

.downloadApp__button:hover {
  color: #fff;
}

.downloadApp__buttonAndroid {
  background-color: #fff;
  border-radius: 15px;
  font-size: 21px;
  padding: 4px 20px;
  line-height: 21px;
  font-family: HKGrotesk-SemiBold;
}

.downloadApp__buttonAndroid img {
  float: left;
}

.downloadApp__buttonAndroid span {
  font-size: 14px;
  font-family: HKGrotesk-Medium;
}

/* Keno Next Game */
.kenoNextGame {
  margin: 75px 65px;
  border-radius: 12px;
  background: url("../images/keno-next-game-bg.jpg") no-repeat center center #5A34EA;
  background-size: cover;
  padding: 30px 20px;
}

.kenoNextGame__badge {
  background-color: #FFF;
  padding: 8px 12px;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 25px;
  font-family: HKGrotesk-SemiBold;
  margin-right: 8px;
}

.kenoNextGame__winningDetails {
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: inline-block;
  padding: 10px 25px;
  color: #FFF;
  font-size: 48px;
  line-height: 55px;
  font-family: HKGrotesk-Bold;
  text-align: center;
  margin: 5px 0 30px 0;
}

.kenoNextGame__winningDetails span {
  font-size: 26px;
  line-height: 30px;
  display: block;
  font-family: HKGrotesk-Regular;
}

.kenoNextGame__winningMessage {
  font-size: 20px;
  color: #1A0F54;
  text-align: right;
  opacity: 0.6;
}

/* Jackpots Guaranteed */
.jackpotsGuaranteed {
  background-color: #FF9600;
  padding: 35px 18px;
  border-radius: 12px;
  margin-bottom: 70px;
  background-image: url("../images/jackpot-guaranteed-bg.png");
  background-repeat: no-repeat;
  box-shadow: 0 8px 16px 0 rgba(53, 110, 158, 0.2);
}

.jackpotsGuaranteed__inner {
  background-color: rgba(255, 255, 255, 0.14);
  padding: 4px 10px;
  text-align: center;
  border-radius: 12px;
}

.jackpotsGuaranteed__inner h2 {
  color: #000000;
  font-size: 30px;
  line-height: 55px;
  text-transform: uppercase;
  font-family: HKGrotesk-Bold;
}

.jackpotsGuaranteed__inner h2 span {
  font-size: 22px;
  line-height: 30px;
  font-family: HKGrotesk-Regular;
  display: block;
}

/* footer */
.footer {
  background-color: #212B36;
  padding: 55px 0;
}

.footer__inner {
  display: flex;
  margin: 0 -10px;
  padding: 0 115px;
}

.footer h6 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  font-family: VisueltProMedium;
}

.footer__column {
  width: 25%;
  padding: 0 50px;
}

.footer__column h5 {
  color: #fff;
  font-size: 22px;
  font-family: HKGrotesk-Bold;
  margin-bottom: 30px;
}

.footer__column p {
  color: #FFF;
  font-size: 15px;
  font-family: HKGrotesk-Medium;
  line-height: 20px;
  margin-bottom: 15px;
}

.footer__column ul {
  list-style: none;
  padding-left: 0;
}

.footer__column ul li a {
  display: block;
  color: #fff;
  font-size: 15px;
  font-family: HKGrotesk-Medium;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__column ul li a:hover {
  color: #FFB800;
}

.footer__paymentMethods {
  margin-top: 80px;
  text-align: center;
}

.footer__paymentMethods ul {
  list-style: none;
  justify-content: center;
  display: flex;
  padding-left: 0;
}

.footer__paymentMethods ul li a {
  display: block;
  padding: 0 8px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.footer__paymentMethods ul li a:hover {
  transform: translate(0, -7px);
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
}

.footer__bottom {
  padding: 0 115px;
}

.footer__social {
  margin-top: 80px;
  text-align: center;
}

.footer__social ul {
  list-style: none;
  justify-content: center;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.footer__social ul li a {
  display: block;
  padding: 0 10px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.footer__social ul li a:hover {
  transform: translate(0, -7px);
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
}

.footer__appDownload {
  margin-top: 80px;
  text-align: center;
}

.footer__appDownload ul {
  list-style: none;
  justify-content: center;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.footer__appDownload ul li a {
  display: block;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.footer__appDownload ul li a:hover {
  transform: translate(0, -7px);
  -webkit-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
}

.footer__languagePreference {
  margin-top: 80px;
  text-align: center;
}

.footer__languagePreference ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer__languagePreference ul li a {
  display: inline-block;
  color: #E5E5E5;
  font-size: 16px;
  font-family: HKGrotesk-Medium;
  text-align: center;
  padding: 3px 15px;
  border-radius: 35px;
  line-height: 16px;
  margin-bottom: 2px;
}

.footer__active {
  background-color: #707070;
}

/* Age Limit */
.ageLimit {
  display: flex;
  align-items: center;
}

.ageLimit__num {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 18px;
  font-family: VisueltProMedium;
  border: 4px solid #FA6400;
  text-align: center;
  margin-right: 20px;
  color: #FA6400;
  border-radius: 100%;
}

.ageLimit__badge {
  background-color: #0091FF;
  padding: 7px 12px;
  color: #FFF;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  font-family: HKGrotesk-Bold;
}

/* Modals */
.btn-close {
  background: url("../images/close.svg") center center;
  width: 72px;
  height: 72px;
  margin: 0 !important;
  opacity: 1;
}

.btn-close:focus {
  box-shadow: none;
}

.btn-close:hover {
  opacity: 1;
}

.modal-header {
  padding: 0;
  position: absolute;
  z-index: 999;
  left: 1rem;
  top: 1rem;
  border: 0;
}

.modal-content {
  background-color: #F6F8FF;
  border-radius: 40px;
}

.modal-body {
  padding: 0 3rem 1rem 3rem;
}

.modalLogo {
  text-align: center;
  margin-bottom: 60px;
}

.mt-130 {
  margin-top: 130px;
}

.signinSection {
  padding: 40px 0 80px 0;
  font-family: 'Quicksand', sans-serif;
}

.signinSection p {
  color: #6C829C;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
}

.signinSection a {
  color: #603BEE;
  font-size: 18px;
  font-weight: 700;
}

.signinSection__or {
  background-color: #643EF1;
  width: 88px;
  height: 88px;
  color: #fff;
  font-size: 29px;
  font-family: VisueltProMedium;
  border-radius: 100%;
  text-transform: uppercase;
  text-align: center;
  line-height: 99px;
  display: inline-block;
}

.signinSection__googleLogin {
  border: 4px solid #643EF1;
  border-radius: 74px;
  background-color: #fff;
  padding: 15px 20px;
  margin-bottom: 20px;
  min-width: 260px;
  min-height: 100px;
}

.signinSection__facebookLogin {
  border: 4px solid #3D5A96;
  border-radius: 74px;
  background-color: #fff;
  padding: 15px 20px;
  color: #3D5A96;
  font-size: 24px;
  min-width: 260px;
  min-height: 100px;
}

.signinSection__facebookLogin img {
  margin-right: 5px;
}

.signinSection__formGroup {
  margin-bottom: 30px;
  position: relative;
  padding-left: 60px;
}

.signinSection__formGroup::before {
  background: url("../images/user-icon.svg") no-repeat;
  content: '';
  width: 24px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 16px;
  background-size: 92%;
}

.signinSection--signupForm {
  margin-left: 35px;
}

.signinSection--password::before {
  background: url("../images/lock-icon.svg") no-repeat;
  width: 27px;
  height: 30px;
  background-size: 88%;
}

.signinSection--dob::before {
  background: url("../images/dob-icon.svg") no-repeat;
  width: 27px;
  height: 30px;
}

.signinSection--email {
  margin: 50px 0;
}

.signinSection--email::before {
  background: url("../images/email-icon.svg") no-repeat;
  background-size: 100%;
  width: 34px;
  height: 28px;
}

.signinSection--email2::before {
  background: url("../images/email-icon2.svg") no-repeat;
  width: 27px;
  height: 30px;
}

.signinSection--currency::before {
  background: url("../images/currency-icon.svg") no-repeat;
  width: 30px;
  height: 22px;
}

.signinSection__formControl {
  display: block;
  width: 100%;
  padding: 12px 6px;
  font-size: 1rem;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.signinSection__formControl:focus {
  box-shadow: none;
  border-color: #643EF1;
}

.signinSection__formControl:focus-visible {
  outline: none;
}

.signinSection__loginButton {
  background-color: #643EF1;
  font-size: 21px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 14px 25px;
  min-width: 400px;
  color: #fff;
  border-radius: 60px;
  font-weight: 700;
}

.signinSection__loginButton:hover {
  color: #fff;
  background-color: #5129E8;
}

.signinSection--resetButton {
  padding: 14px 104px;
}

.signinSection__textUppercase {
  text-transform: uppercase;
}

.signinSection__terms {
  margin: 100px 200px 0 200px;
}

.fundsModalContent {
  background-color: #fff;
  border-radius: 25px;
}

.fundsModalContent .modal-body {
  padding: 4.5rem 2rem 2rem 2rem;
}

.fundsModalContent .modal-body p {
  margin: 0;
  font-size: 22px;
  color: #1A0D49;
  font-family: HKGrotesk-Bold;
  text-align: center;
}

.fundsModalContent .modal-footer {
  justify-content: center;
  border: 0;
  margin-bottom: 25px;
}

.fundsModalContent__btnDeposit {
  background-color: #6236FF;
  color: #fff;
  border-radius: 27px;
  font-size: 17px;
  font-family: HKGrotesk-Bold;
  padding: 13px 50px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.fundsModalContent__btnDeposit:hover {
  color: #fff;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  transform: translate(0, -7px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
}

.fundsModalContent__btnOkay {
  background-color: #F6C358;
  color: #1A0D49;
  border-radius: 27px;
  font-size: 17px;
  font-family: HKGrotesk-Bold;
  padding: 13px 50px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.fundsModalContent__btnOkay:hover {
  color: #1A0D49;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
  transform: translate(0, -7px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
}

/* Terms & Conditions Popup */
.termsSection {
  margin-top: 45px;
}

.termsSection h2 {
  color: #643EF1;
  font-size: 52px;
  font-family: HKGrotesk-Medium;
  margin-bottom: 20px;
  text-align: center;
}

.termsSection p {
  color: #6D7278;
  font-size: 18px;
  font-family: HKGrotesk-Medium;
  margin-bottom: 25px;
}

/* Available Games */
.availableGames {
  margin-top: 120px;
}

.availableGames__best {
  background-color: #DDE5FF;
  padding: 20px 25px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.availableGames h3 {
  font-size: 36px;
  font-family: HKGrotesk-Medium;
  margin-bottom: 40px;
  color: #1A0F54;
  text-align: center;
}

.availableGames p {
  color: #1A0F54;
  font-size: 24px;
  font-family: HKGrotesk-Medium;
  text-align: center;
  margin: 0;
}

.availableGames__note {
  padding: 25px;
  border: 6px solid #6236FF;
  border-radius: 20px;
}

.availableGames__note p {
  color: #1A0F54;
  font-size: 27px;
  font-family: HKGrotesk-Medium;
}

.availableGames__downloadButton {
  margin: 100px 0 50px 0;
}

/* Payment Options */
.paymentOptions {
  margin: 45px 0 20px 0;
}

.paymentOptions h2 {
  color: #643EF1;
  font-size: 52px;
  font-family: HKGrotesk-Medium;
  margin-bottom: 30px;
  text-align: center;
}

.paymentOptions__description {
  background-color: #DDE5FF;
  padding: 25px 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.paymentOptions__description h3 {
  font-size: 32px;
  font-family: HKGrotesk-Medium;
  margin-bottom: 40px;
  color: #1A0F54;
  text-align: center;
}

.paymentOptions__description p {
  color: #1A0F54;
  font-size: 20px;
  font-family: HKGrotesk-Medium;
  text-align: center;
  margin: 0;
}

/* Next Game */
.nextGame {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.nextGame__text {
  font-size: 22px;
  font-family: HKGrotesk-Medium;
  color: #9C55BB;
}

.nextGame__time {
  color: #1A0F54;
  font-size: 22px;
  font-family: HKGrotesk-Medium;
}

.nextGame--colorRed {
  color: #EB2D67;
}

.nextGame--colorRed span {
  color: #1A0F54;
}

.nextGame--colorPurple {
  color: #9C55BB;
}

.nextGame--colorBlue {
  color: #32C5FF;
}

.nextGame--bgGreen {
  background-color: #06D6A0;
  padding: 9px 15px;
}

.nextGame--textWhite {
  color: #fff;
}

/* Numbers */
.numbers {
  background-color: #5A34EA;
  border-radius: 8px;
  padding: 10px 10px 10px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  box-shadow: 0 8px 16px 0 rgba(53, 110, 158, 0.2);
}

.numbers__text {
  color: #fff;
  font-size: 22px;
  font-family: HKGrotesk-Medium;
  margin-right: auto;
}

.numbers__icon {
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin-left: 10px;
  font-size: 20px;
  font-family: HKGrotesk-SemiBold;
  color: #191161;
}

.numbers--lightBg {
  background-color: rgba(255, 255, 255, 0.05);
}

.numbers--yellowBg {
  background-color: #F6C358;
}

.numbers--padding {
  padding: 2px 25px;
  width: auto;
}

/* Numbers List */
.numbersList {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 40px 20px 40px;
  margin-bottom: 15px;
}

.numbersList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.numbersList__header h3 {
  color: #FFBA03;
  font-size: 22px;
  font-family: HKGrotesk-SemiBold;
}

.numbersList__header h4 {
  color: #1A0F54;
  font-size: 22px;
  font-family: HKGrotesk-SemiBold;
}

.numbersList--padding {
  padding: 30px 25px;
}

.numbersList ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.numbersList ul li a {
  background-color: #5A34EA;
  display: block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 19px;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 20px;
  font-family: HKGrotesk-SemiBold;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.numbersList ul li a:hover {
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.numbersList--bgYellow {
  background-color: #F6C358 !important;
}

.numbersList--bgOrange {
  background-color: #F17108 !important;
}

.numbersList--bgPink {
  background-color: #EE476F !important;
}

.numbersList--bgGray {
  background-color: #7E809B !important;
}

.numbersList--bgPurple {
  background-color: #9C55BB !important;
}

.numbersList--bgGreen {
  background-color: #06D6A0 !important;
}

/* Pick Number */
.pickNumber p {
  color: #928EA1;
  font-size: 13px;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

/* Spend per Draw*/
.spendPerDraw {
  background-color: #fff;
  border-radius: 8px;
  padding: 25px 25px 5px 25px;
  margin-bottom: 15px;
}

.spendPerDraw h3 {
  font-size: 16px;
  font-family: HKGrotesk-SemiBold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #928EA1;
}

.spendPerDraw ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.spendPerDraw ul li a {
  border: 1px solid #F3F2FE;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: #1A0D49;
  font-size: 17px;
  border-radius: 9px;
  text-align: center;
  margin-right: 10px;
  font-family: HKGrotesk-SemiBold;
  display: block;
  margin-bottom: 20px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.spendPerDraw ul li a:hover {
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.spendPerDraw--w100 {
  width: 100px !important;
  color: #928EA1 !important;
}

.spendPerDraw--active {
  background-color: #5A34EA;
  color: #fff !important;
}

/* Game Matches */
.gameMatches {
  background-color: #fff;
  padding: 20px;
}

.gameMatches ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.gameMatches ul li {
  color: #9D99AB;
  padding: 0 5px;
}

.gameMatches ul li span {
  color: #664AF3;
}

/* Play Game Buttons */
.playGameButtons {
  margin: 20px 0 40px 0;
}

.playGameButtons__button {
  background-color: #F6C358;
  border: 1px solid #F6C358;
  border-radius: 8px;
  padding: 14px 30px;
  min-width: 393px;
  color: #1A0F54;
  font-size: 18px;
  font-family: HKGrotesk-Bold;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.playGameButtons__button:hover {
  background-color: #5A34EA;
  border-color: #5A34EA;
  color: #fff;
}

.playGameButtons__bonusButton {
  border: 1px solid #F6C358;
  border-radius: 18px;
  font-size: 20px;
  color: #F6C358;
  background-color: transparent;
  padding: 6px 20px 6px 45px;
  position: relative;
  margin-left: 30px;
}

.playGameButtons__bonusButton img {
  position: absolute;
  left: -30px;
  top: -9px;
}

/* Heads */
.heads {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 20px;
  margin-bottom: 20px;
}

.heads__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.heads h3 {
  color: #F07007;
  font-size: 28px;
  font-family: HKGrotesk-SemiBold;
  margin: 0;
}

.heads h4 {
  color: #1A0F54;
  font-size: 28px;
  font-family: HKGrotesk-SemiBold;
  margin-bottom: 15px;
  margin: 0;
}

.heads ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.heads ul li a {
  background-color: transparent;
  border: 1px solid #E6E4FD;
  display: block;
  width: 52px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
  margin-bottom: 9px;
  font-family: HKGrotesk-SemiBold;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.heads ul li a:hover {
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.heads--bgYellow {
  background-color: #F6C358 !important;
  border-color: #F6C358 !important;
}

.heads--bgOrange {
  background-color: #F17108 !important;
  border-color: #F17108 !important;
}

.heads--bgGreen {
  background-color: #06D6A0 !important;
  border-color: #06D6A0 !important;
}

.heads--bgPink {
  background-color: #EE476F !important;
  border-color: #EE476F !important;
}

.heads--bgGray {
  background-color: #7E809B !important;
  border-color: #7E809B !important;
}

.heads--bgBlue {
  background-color: #4188C6 !important;
  border-color: #4188C6 !important;
}

.heads--bgPurple {
  background-color: #5B33EA !important;
  border-color: #5B33EA !important;
}

.heads--bgPurpleLight {
  background-color: #9C55BB !important;
  border-color: #9C55BB !important;
}

/* Game Results */
.gameResults {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 15px 140px 120px 140px;
}

.gameResults__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.gameResults__header h3 {
  color: #928EA1;
  text-transform: uppercase;
  font-family: HKGrotesk-SemiBold;
  font-size: 20px;
  margin: 0 0 0 15px;
}

.gameResults__header img {
  width: 50px;
}

.gameResults ul {
  margin: 0;
  padding: 0;
}

.gameResults ul li {
  border: 1px solid #F3F2FE;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
}

.gameResults__date {
  border: 1px solid #F3F2FE;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-right: 15px;
  color: #928EA1;
  font-family: HKGrotesk-Medium;
  text-transform: uppercase;
}

.gameResults__date span {
  color: #6546FC;
  font-size: 27px;
}

.gameResults__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.gameResults__list li {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.gameResults__list li a {
  display: block;
  background-color: #5B33EA;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  font-size: 11px;
  border-radius: 5px;
  text-align: center;
  margin: 0 4px 5px 0;
  font-family: HKGrotesk-SemiBold;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.gameResults--big a {
  border-radius: 100% !important;
  width: 54px !important;
  height: 54px !important;
  line-height: 54px !important;
  font-size: 21px !important;
  margin: 0 8px 5px 0 !important;
}

.gameResults__result p {
  color: #928EA1;
  font-size: 16px;
  font-family: HKGrotesk-Medium;
  margin: 12px 0 7px 0;
}

.gameResults__bigP {
  font-size: 20px !important;
}

.gameResults--bgYellow {
  background-color: #F6C358 !important;
  border-color: #F6C358 !important;
}

.gameResults--bgOrange {
  background-color: #F17108 !important;
  border-color: #F17108 !important;
}

.gameResults--bgGreen {
  background-color: #06D6A0 !important;
  border-color: #06D6A0 !important;
}

.gameResults--bgPink {
  background-color: #EE476F !important;
  border-color: #EE476F !important;
}

.gameResults--bgGray {
  background-color: #7E809B !important;
  border-color: #7E809B !important;
}

.gameResults--bgBlue {
  background-color: #4188C6 !important;
  border-color: #4188C6 !important;
}

.gameResults--bgPurple {
  background-color: #5B33EA !important;
  border-color: #5B33EA !important;
}

.gameResults--bgPurpleLight {
  background-color: #9C55BB !important;
  border-color: #9C55BB !important;
}

/* Repeat */
.repeat {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.repeat h2 {
  color: #928EA1;
  font-size: 20px;
  font-family: HKGrotesk-SemiBold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.repeat ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.repeat ul li {
  margin: 0 10px 10px 0;
}

.repeat ul li:last-child {
  margin-right: 0;
}

.repeat ul li a {
  display: block;
  border-radius: 8px;
  width: 98px;
  height: 91px;
  color: #6C829C;
  font-size: 29px;
  border: 1px solid #F3F2FE;
  text-align: center;
  padding: 22px 10px;
  line-height: 25px;
  font-family: HKGrotesk-Medium;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.repeat ul li a span {
  font-size: 15px;
  font-family: HKGrotesk-Regular;
}

.repeat ul li a:hover {
  border: 1.5px solid #5D35F6;
  color: #5D35F6;
}

.repeat--active {
  border: 1.5px solid #5D35F6 !important;
  color: #5D35F6 !important;
}

/* Games Category */
.gamesCategory ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gamesCategory ul li {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30.2%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 20px 15px 20px;
  text-align: center;
}

.gamesCategory ul li:last-child {
  margin-right: 0;
}

.gamesCategory ul li img {
  margin-bottom: 20px;
  min-height: 40px;
}

.gamesCategory__badge {
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  font-family: HKGrotesk-Regular;
  background-color: rgba(61, 171, 255, 0.1);
  margin-bottom: 5px;
  color: #3DABFF;
}

.gamesCategory--orangeBadge {
  background-color: rgba(244, 114, 23, 0.1);
  color: #F47217;
}

.gamesCategory--purpleBadge {
  background-color: rgba(217, 79, 255, 0.1);
  color: #D63DFF;
}

/* Lottery Division */
.lotteryDivision {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 15px;
}

.lotteryDivision__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 15px;
}

.lotteryDivision__header h3 {
  color: #928EA1;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.lotteryDivision__badge {
  background-color: rgba(100, 60, 249, 0.1);
  border-radius: 4px;
  padding: 10px;
  width: 90px;
  color: #663FF9;
  font-size: 13px;
  font-family: HKGrotesk-Medium;
  text-align: center;
}

.lotteryDivision__prize {
  background-color: rgba(6, 214, 160, 0.2);
  color: #06D6A0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.lotteryDivision__prize p {
  font-size: 15px;
  font-family: HKGrotesk-Medium;
  margin: 0;
}

.lotteryDivision--prizePink {
  background-color: rgba(238, 71, 111, 0.2);
  color: #EE476F;
}

.lotteryDivision--prizeGray {
  background-color: rgba(126, 128, 155, 0.2);
  color: #7E809B;
}

.lotteryDivision--prizePurple {
  background-color: rgba(98, 54, 255, 0.2);
  color: #6236FF;
}

.lotteryDivision--prizeOrange {
  background-color: rgba(241, 113, 8, 0.2);
  color: #F17108;
}

.lotteryDivision--prizePurpleLight {
  background-color: rgba(156, 85, 187, 0.2);
  color: #9C55BB;
}

.lotteryDivision--prizeBlue {
  background-color: rgba(61, 171, 255, 0.2);
  color: #3DABFF;
}

.lotteryDivision--badgeGreen {
  background-color: rgba(6, 214, 160, 0.1);
  color: #06D6A0;
}

.lotteryDivision--badgePink {
  background-color: rgba(238, 71, 111, 0.1);
  color: #EE476F;
}

.lotteryDivision--badgeGray {
  background-color: rgba(126, 128, 155, 0.1);
  color: #7E809B;
}

.lotteryDivision--badgePurple {
  background-color: rgba(98, 54, 255, 0.1);
  color: #6236FF;
}

.lotteryDivision--badgeOrange {
  background-color: rgba(241, 113, 8, 0.1);
  color: #F17108;
}

.lotteryDivision--badgePurpleLight {
  background-color: rgba(156, 85, 187, 0.1);
  color: #9C55BB;
}

.lotteryDivision--badgeBlue {
  background-color: rgba(61, 171, 255, 0.1);
  color: #3DABFF;
}

/* Lottery */
.lotteryGames__inner {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 25px 15px 20px 15px;
}

.lotteryGames__numbers ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.lotteryGames__numbers ul li a {
  display: block;
  width: 41px;
  height: 41px;
  line-height: 41px;
  background-color: #5A34EA;
  border-radius: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: HKGrotesk-SemiBold;
  text-align: center;
  color: #fff;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.lotteryGames__numbers ul li a:hover {
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -4px);
}

.lotteryGames--bgYellow {
  background-color: #F6C358 !important;
  color: #1A0D49 !important;
}

.lotteryGames__button {
  border: 1px solid #F6C358;
  border-radius: 14px;
  font-size: 14px;
  color: #F6C358;
  background-color: transparent;
  padding: 4px 12px 4px 22px;
  position: relative;
  margin-left: 38px;
}

.lotteryGames__button img {
  position: absolute;
  left: -26px;
  top: -6px;
}

.lotteryGames--button2 {
  margin-left: 15px;
  margin-right: 22px;
  padding: 4px 22px 4px 12px;
  color: #1A0D49;
  background-color: #F6C358;
}

.lotteryGames--button2 img {
  right: -26px;
  left: auto;
}

.lotteryGames__icon {
  margin-left: 20px;
}

/* Add Game */
.addGame {
  text-align: center;
  margin: 30px 0;
}

.addGame__button {
  color: #5D35F6;
  font-size: 23px;
  font-family: HKGrotesk-Bold;
}

.addGame__button:hover {
  color: #5D35F6;
}
